[Unit]
Description=Herculeze Delivery Marketplace

[Service]
ExecStart=/usr/bin/perl /home/hrclz/herculezeDaemon/herculezeDaemon.pl

[Install]
WantedBy=multi-user.target
